@import "reset";
@import "variables.scss";

body {
  font-family: $font-stack-primary;
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
